[Unit]
Description=Mender Demo mpv image display
DefaultDependencies=no
After=local-fs.target

[Service]
Type=idle
ExecStart=/usr/bin/fbv --noinfo /etc/demo-image.png
StandardInput=tty
StandardOutput=tty
Restart=always
RestartSec=0

[Install]
WantedBy=sysinit.target
